@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0eefd;
  --foreground: #171717;
  --border: #d3d8df;
  --secondary: #6d7b8f;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f0eefd;
  --border: #262c33;
  --secondary: #91959b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
