@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0eefd;
  --foreground: #171717;
  --border: #d3d8df;
  --secondary: #6d7b8f;
}

.dark {
  --background: #1c1a26;
  --foreground: #f0eefd;
  --border: #454d56;
  --secondary: #91959b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
