@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0eefd;
  --foreground: #171717;
  --border: #d3d8df;
  --secondary: #afb4bb;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark {
  --background: #1c1a26;
  --foreground: #f0eefd;
  --border: #42464b;
  --secondary: #56595e;
  --shadow-color: rgba(255, 255, 255, 0.2);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
